body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 2rem;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}
.form-group{
    width: 49%;
}
.form-group textarea{
    width: 100%;
}
.registerGroup{
    display: flex;
    justify-content: space-between;
}
.container .error-message{
    color: red;
}
.container a{
    color: purple;
    text-decoration:underline;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 30%;
    margin: auto;
    padding: 15px;  
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0088FF;
}

p {
    text-align: center;
    margin-top: 10px;
}
