/* assets/css/profile.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.profile-content, .edit-profile-content {
    margin-top: 20px;
}
.profile-info {
    display: flex;
    align-items: flex-start;
}
.profile-image {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image-img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-details {
    flex: 2;
}

.info-segment {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-info, .edit-profile-content form {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
}

.user-info p {
    font-size: 16px;
    margin: 5px 0;
}

.edit-profile-content label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.edit-profile-content input[type="text"],
.edit-profile-content input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-profile-content button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-profile-content button:hover {
    background: #218838;
}

.edit-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.edit-button:hover {
    background: #0056b3;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 20px;
}
