/* Body Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1, h2{
    font-family: "Playfair Display", serif;
    font-weight:800;
    font-size: 3rem;
    margin-bottom: 30px;
}
h1{
    font-size: 3.5rem !important;
}
.container{
    background-color: #f4f4f4;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: black;
}

header .logo img{
    width: 120px;
    height: 20px;
}

/* Nav */
nav .user-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}
.user-nav span{
    color: white;
    margin: 0px 10px;
    font-size: 1.5rem;
    font-weight: 400;
}
nav a:hover {
    text-decoration: underline; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0px 40px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 40px 100px;
}

.left-content {
    max-width: 40%;
    margin-top: 100px;
}

.left-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}
.home-button{
    display: flex;
    gap: 30px;
}
.create-card-btn {
    background-color: black;
    padding: 15px 25px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.2s;
}

.create-card-btn:hover {
    background-color: #0088FF;
}
.right-content{
    width: 40%;
    height: 70vh;
}

/* Slideshow Container */
.slideshow-container {
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slideshow-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 50px;
}
/* Slideshow Animation */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 0;
}   
.slide.active {
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
}

.slide.prev-slide {
    transform: translateX(-100%);
    z-index: 0;
}

.slide.next-slide {
    transform: translateX(100%);
    z-index: 0;
}


/* Previous and next buttons */

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.prev, .next {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    user-select: none;
    margin: 0 10px;
    z-index: 10;
}

/* Adjusting the hover effect for buttons */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}
.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Dots for navigation */
.dots-container {
    text-align: center;
    margin: 10px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
/* View Templates  */
.templates-section {
    background-color: #f4f4f4;
    padding: 60px 80px;
    text-align: center;
}
.templates-section p{
    margin-bottom: 40px;
}

.templates-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.templates-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
    margin-top: 20px;
}

.template-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.template-item img {
    width: 100%;
    border-radius: 8px;
}


.template-item h3 {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}
.template-item.hidden {
    opacity: 0;
    pointer-events: none;/
}
/* Hover effect for template items */
.template-item:hover {
    transform: scale(1.05);
}
.view-more {
    background-color: #0088FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.view-more:hover {
    background-color: black;
}

.hidden {
    display: none;
}



/* Benefits Section  */
.benefits-section {
    background-color: #f4f4f4;
    padding: 60px 80px;
    text-align: center;
}


.benefits-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefit-item {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin: 20px 0;
}

.benefit-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.benefit-item h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.benefit-item p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

/* Testinomial Section  */
.testimonials-section {
    background-color: #f4f4f4;
    padding: 60px 80px;
    text-align: center;
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial-item {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%; /* Adjust width for layout */
    margin: 20px 0;
    text-align: center;
    min-height: 300px;    
}

.testimonial-item p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-top: 15px;
}

.testimonial-item h3 {
    margin-top: 15px;
    font-size: 1    rem;
    color: #333;
}
.testimonial-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px 0;
    text-align: center;
}
.testimonial-item .user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.review-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.review-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.review-form-box {
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

textarea {
    resize: none;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 150px;
    margin-top: 5px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 24px !important;
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffcc00;
}

.review-submit-btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.review-submit-btn:hover {
    background-color: #007bff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #0088ff;
    outline: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer Section */
.footer-section {
    background-color: #111;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 23%;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.8;
    color: #bbb;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #bbb;
}

.footer-column ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #0088ff;
}

/* Social Media Icons */
.social-media {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media li {
    list-style: none;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

/* Contact Info */
.contact-info li {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Quick Links */
.quick-links li {
    margin-bottom: 10px;
}

.quick-links li a {
    font-size: 14px;
}

/* Footer Bottom */
.footer-bottom {
    background-color: #000;
    padding: 20px 0;
    font-size: 14px;
    color: #777;
}

.footer-bottom p {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.3s ease;
}
nav.active {
    display: flex;
}

/* 768 Pixels Responsive */

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        width: 100%;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .user-nav {
        display: none;
    }
    header {
        padding: 10px 20px;
        flex-direction: column;
    } 
    .main-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;

    }
    .home-button{
        justify-content: space-evenly;
    }
    .create-card-btn{
        font-size: 0.75rem;
    }
    h1, h2 {
        font-size: 2rem !important;
    }
    .left-content p {
        display: none;
    }
    .left-content, .right-content {
        width: 100%;
        margin: 20px 0;
        max-width: 100%;
    }
    .slideshow-container{
        height: 60%;
    }
    .templates-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .template-item {
        width: 100%;
    }
    .benefits-container, .testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    .benefit-item, .testimonial-item {
        width: 80%;
        margin-bottom: 20px;
    }
    .contact-form {
        padding: 0 20px;
    }
    .contact-form-box {
        padding: 20px;
    }
    
    .contact-form {
        padding: 0 20px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
    .main-content {
        padding: 10px;
        text-align: center;
    }

    h1, h2 {
        font-size: 2.5rem;
    }
    .right-content img {
        width: 100%;
        height: auto;
    }
    .templates-container {
        grid-template-columns: 1fr;
    }
    .benefits-section h2, .testimonials-section h2 {
        font-size: 24px;
    }

    .benefit-item, .testimonial-item {
        width: 100%;
    }
    .template-item {
        width: 100%;
    }

    .templates-section h2 {
        font-size: 28px;
    }

    .benefits-section h2 {
        font-size: 28px;
    }

    .benefit-item h3 {
        font-size: 18px;
    }

    .benefit-item p {
        font-size: 12px;
    }
    .footer-column {
        width: 100%;
    }
    .social-media img {
        width: 25px;
        height: 25px;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}